<!DOCTYPE html>
<html>
	
	<head th:replace="fragments/base.html :: headFragment(title='Admin home')"></head>
	
	
	<body>
	
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm container-flex">
        <div class="row w-100 p-3">
          <a th:href="@{/}" class="col text-white ml-5 ">
            <h5> < Alla user home</h5>
          </a>
          <div class="col text-white">
		    <span class="text-muted float-right mr-5">Effettua il
				<a th:href="@{/logout}">logout</a>
				
			</span>
		  </div>
        </div>
      </div>
    </header>
    <main>
    <div class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white gradient-custom-2 rounded shadow-sm">
        <img th:src="@{/images/tentacle.png}" class="me-3" alt="" width="48" height="38">
        <div class="lh-1">
          <h4 th:text="${username}" class="h4 mb-0 text-white lh-1"></h4>
          <small>Admin home</small>
        </div>
      </div>

    </div>
      <section th:unless="${#lists.isEmpty(pendingUsers)}">
        <div class="container">
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="pb-2 mb-0">Utenti in attesa di accettazione</h6>
            <hr>
            <div class="d-flex text-muted pt-3">

              <ul class="w-100">
                <li th:each="pendingUser : ${pendingUsers}">
                  <div class="pb-3 mb-0 lh-sm row">
                  	<div class="col">
                    	<strong th:text="${pendingUser.surname + ', ' + pendingUser.name}"  class="text-gray-dark"></strong>
                    </div>
                    <div class="col">
                    	<a th:href="@{'/admin/credentials/' + ${pendingUser.credentials.id} + '/enable'}" class="btn btn-primary fa-lg gradient-custom-2 float-right mr-4">Accetta</a>
                  	</div>
                  </div>
                </li>
                <hr>
              </ul>
            </div>

          </div>

        </div>
      </section>

      <section>
        <div class="container">
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="pb-2 mb-0">Eventi</h6>
            <hr>
            <a th:href="@{/admin/event/new}" class="btn btn-primary fa-lg gradient-custom-2">Crea evento</a>
            <div class="d-flex text-muted pt-3">

              <ul class="w-100">
                <li th:each="event : ${events}">
                  <strong th:text="${event.name}" class="text-gray-dark"></strong>
                  <div class="row">
                  	<div class="col">
	                  <a th:href="@{'/admin/event/' + ${event.id} + '/update'}" class="link-purple">Modifica</a>
	                </div>
	                <div class="col">
	                  <a th:href="@{'/admin/event/' + ${event.id} + '/delete'}" class="float-right mr-5 link-purple">Annulla</a>
				  	</div>
				  </div>
				  <hr>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </section>

      <section>
        <div class="container pb-4">
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="pb-2 mb-0">Competizioni</h6>
            <hr>
            <a th:href="@{/admin/event/new}" class="btn btn-primary fa-lg gradient-custom-2">Crea competizione</a>
            <div class="d-flex text-muted pt-3">

 
	      				<ul class="w-100">
	      					<li th:each="competition : ${competitions}">
	      						<a th:href="@{'/admin/competition/' + ${competition.id}}" th:text="${competition.name}" class="font-weight-bold link-purple"></a>
	      						<div class="row">
	      							<div class="col">
		      							<a th:href="@{'/admin/competition/' + ${competition.id} + '/update'}" class="link-purple">Modifica generalit&agrave;</a>
		      						</div>
		      						<div class="col text-center">
		      						<a th:href="@{'/admin/competition/' + ${competition.id} + '/match/new'}" class="link-purple">Aggiungi match</a>
		      						</div>
		      						<div class="col">
		      							<a th:href="@{'/admin/competition/' + ${competition.id} + '/delete'}" class="float-right mr-5 link-purple">Cancella</a>
	    							</div>
	    						</div>
	    				</li>
	    				<hr>
  				</ul>
            </div>

          </div>

        </div>
      </section>

    </main>

	</body>

</html>
