<!DOCTYPE html>
<html>

<head th:replace="fragments/base.html :: head(title='Evento')"></head>

<body>

	<header th:replace="fragments/base.html :: header(pageTitle='Evento')"></header>
	
	<main class="container container-custom">
	
		<div th:each="message : ${successFlashMessages}" th:text="${message}" class="alert alert-success" role="alert">
		</div>
	
		<section class="my-3 p-3 bg-white rounded shadow-sm">
			<div class="position-relative">
				<div class="dropdown dropdown-custom position-absolute top-0 end-0 ">
					<button class="dropdown-button" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						<i class="bi bi-three-dots"></i>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a th:if="${!#lists.contains(event.participants, currentUser)}"
								th:href="@{'/event/' + ${event.id} + '/participate'}"
								class="dropdown-item">
								Partecipa </a>
							<a th:if="${#lists.contains(event.participants, currentUser)}"
								th:href="@{'/event/' + ${event.id} + '/cancel-participation'}"
								class="dropdown-item">
								Annulla partecipazione </a>
						</li>
						<th:block sec:authorize="hasAuthority('ADMIN')">
							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<a th:href="@{'/admin/event/' + ${event.id} + '/update'}"
									class="dropdown-item">Modifica</a>
							</li>
							<li>
								<a th:href="@{'/admin/event/' + ${event.id} + '/delete'}"
									class="dropdown-item">Annulla</a>
							</li>
						</th:block>
					</ul>
				</div>
			</div>		
		
			<h6 th:text="${event.name}" class="pb-2 mb-0"></h6>
			<hr>
			<h6>Partecipanti</h6>

			<div class="text-muted pt-2">

				<ul class="list-group">
					<li th:each="participant : ${event.participants}"
					
						class="list-group-item d-flex justify-content-between align-items-center"><span
						th:text="${participant.surname + ', ' + participant.name}"></span>
					
					</li>
				</ul>
				
			</div>
			
		</section>
	
	</main>

	<div th:replace="fragments/base.html :: scripts"></div>
</body>

</html>