<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>

<body>
	<main>
		<h1>Home</h1>
		<section>
			<h2>Eventi</h2>
			<ul>
				<li th:each="event : ${events}">
					<a th:href="@{'/event/' + ${event.id}}"
					th:text="${event.name}">
					</a>
					<a th:if="${!#lists.contains(event.participants, currentUser)}"
					th:href="@{'/event/' + ${event.id} + '/participate'}">
						Partecipa
					</a>
					<a th:if="${#lists.contains(event.participants, currentUser)}"
					th:href="@{'/event/' + ${event.id} + '/cancel-participation'}">
						Annulla partecipazione
					</a>
				</li>
			</ul>
		</section>
		<section>
			<h2>Competizioni</h2>
			<ul>
				<li th:each="competition : ${competitions}">
					<a th:href="@{'/competition/' + ${competition.id}}"
					th:text="${competition.name}">
					</a>
				</li>
			</ul>
		</section>
	</main>
</body>

</html>