<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>

<body>
	<div>
		<div>
			<h4>Generalità utente</h4>
		</div>
		<div>
			<h4>Inviti in sospeso</h4>
			<ul>
				<li th:each="invite : ${invites}">
					<span th:text="${'Da ' + invite.sender.name + ' (' + invite.dateTime + ')'}"></span>
					<a th:href="@{'/invite/' + ${invite.id} + '/accept'}">Accetta</a>
					<a th:href="@{'/invite/' + ${invite.id} + '/decline'}">Rifiuta</a>
				</li>
			</ul>
		</div>
		<div>
			<h4>Le mie squadre</h4>
			<ul>
				<li th:each="membership : ${memberships}">
					<a th:href="@{'/team/' + ${membership.team.id}}" th:text="${membership.team.name}"></a>
				</li>
			</ul>
		</div>
		<div>
			<a th:href="@{/team/new}">Crea un team</a>
		</div>
	</div>
</body>

</html>