<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Team</title>
</head>

<body>
	<div>
		<div>
			<h4>Generalità squadra</h4>
			<span th:text="${team.name}">Nome team</span>
		</div>
		<div>
			<h4>Invita utente</h4>
			<form th:action="@{'/team/' + ${team.id} + '/invite'}" method="POST">
				<div>
					Username: <input type="text" name="username">
				</div>
				<div>
					<button type="submit">Invita</button>
				</div>
			</form>
			<div>
				<h4>Inviti in sospeso</h4>
				<ul>
					<li th:each="invite : ${invites}">
						<span th:text="${'To ' + invite.recipient.alias + ' (' + invite.dateTime + ')'}"></span>
						<a th:href="@{'/invite/' + ${invite.id} + '/revoke'}">Revoca</a>
					</li>
				</ul>
			</div>
		</div>
		<div>
			<h4>Membri</h4>
			<ul>
				<li th:each="membership : ${memberships}">
					<span th:text="${membership.user.alias}"></span>
				</li>
			</ul>
		</div>
	</div>
	<footer><a href="/">Home</a></footer>
</body>

</html>