<!DOCTYPE html>
<html>

<head
	th:replace="fragments/base.html :: headFragment(title='Modifica match')"></head>

<body>

	<header class="container container-custom my-3 p-3 gradient-custom-2 text-white rounded shadow-sm">
		<div class="d-flex justify-content-between align-items-center">
			<div class="d-flex">
				<img th:src="@{/images/tentacle.png}" class="me-3" width="48" height="38">
				<div class="lh-1">
					<h4 sec:authentication="name" class="h4 mb-0 text-white lh-1"></h4>
					<small>Home</small>
				</div>
			</div>
			<a th:href="@{/logout}">Effettua il logout</a>
		</div>
	</header>

	<main>

	<div class="card w-50 mx-auto mt-5 text-center">
		<div class="card-header">
			<h3>Modifica un match</h3>
		</div>
		<div class="card-body p-5">

			<form th:action="@{'/admin/match/' + ${match.id} + '/update'}"
				method="POST" th:object="${match}">
				<div class="form-group">
					<label for="inputDateTime" class="form-label">Data ed ora
						di inizio del match</label>
					<div class="mb-4">
						<input type="datetime-local" th:field="*{dateTime}"
							class="form-control"
							th:classappend="*{#fields.hasErrors('dateTime') ? 'is-invalid' : ''}"
							id="inputDateTime">
						<div class="invalid-feedback">
							<span th:if="${#fields.hasErrors('dateTime')}"
								th:errors="*{dateTime}"></span>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label for="inputOpponent" class="form-label">Avversario</label>
					<div class="mb-4">
						<input type="text" th:field="*{opponent}" class="form-control"
							th:classappend="*{#fields.hasErrors('opponent') ? 'is-invalid' : ''}"
							id="inputOpponent">
						<div class="invalid-feedback">
							<span th:if="${#fields.hasErrors('opponent')}"
								th:errors="*{opponent}"></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="result-radio-button" class="form-label">Risultato</label>
					<div class="mb-4">
						<div
							th:each="result : ${T(it.mantik.esquid.model.MatchResult).values()}">
							<input id="result-radio-button" type="radio" th:field="*{result}"
								th:value="${result}"> <label
								th:if="${result == T(it.mantik.esquid.model.MatchResult).VICTORY}"
								th:text="Vittoria" for="result-radio-button"> </label> <label
								th:if="${result == T(it.mantik.esquid.model.MatchResult).DEFEAT}"
								th:text="Sconfitta" for="result-radio-button"> </label> <label
								th:if="${result == T(it.mantik.esquid.model.MatchResult).DRAW}"
								th:text="Pareggio" for="result-radio-button"> </label>
						</div>
					</div>
				</div>

				<span th:if="${#fields.hasErrors('result')}" th:errors="*{result}"></span>

				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{competition}" />

				<div class="d-grid">
					<button type="submit" class="btn text-white gradient-custom-2">Salva
						modifiche</button>
				</div>
			</form>
		</div>

		<a th:href="@{/admin}" class="link-purple card-footer text-muted">Annulla</a>

	</div>

	</main>

	<div>th:replace="fragments/base.html :: scriptFragment"></div>

</body>

</html>